@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');


body {
    min-height: 100vh;
    font-family: 'Poiret One', cursive;
    background-color: #67515E;
}

.row {
    display: flex;
    min-width: 988px;
}


.header img {
    position: center;
    margin-top: 32px;
    margin-bottom: 20px;
    padding-left: calc(50% - 124px);
}


/* Content */

.content {
    display: block;
    position: relative;
    width: 100%;
    background-color: #67515E;
}

/* Checkbox */
.checkbox-bordo {
    height: 28px;
    line-height: 28px;
    margin-left: calc(100% - 304px);
    vertical-align: middle;
    font-weight: 600;
    font-size: 14px;
    user-select: none;
}
.checkbox-bordo .checkbox-bordo-switch {
    display: inline-block;
    height: 28px;
    width: 240px;
    box-sizing: border-box;
    position: relative;
    border-radius: 20px;
    background: #848484;
    transition: background-color 0.3s cubic-bezier(0, 1, 0.5, 1);
}
.checkbox-bordo .checkbox-bordo-switch:before {
    content: attr(data-label-on);
    width: 120px;
    padding: 0 12px;
    position: absolute;
    top: 0;
    right: 1px;
    text-align: center;
    color: #FBD58E;
    font-size: 15px;
    line-height: 28px;
}
.checkbox-bordo .checkbox-bordo-switch:after {
    content: attr(data-label-off);
    width: 120px;
    border-radius: 20px;
    position: absolute;
    top: 1px;
    left: 1px;
    z-index: 5;
    text-align: center;
    background: #A32821;
    line-height: 26px;
    font-size: 15px;
    color: #FBD58E;
    transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1);
}

.checkbox-bordo input {
    display: block;
    position: absolute;
    z-index: -1;
}

.checkbox-bordo input:checked + .checkbox-bordo-switch:before {
    content: attr(data-label-off);
    left: 0;
}
.checkbox-bordo input:checked + .checkbox-bordo-switch:after {
    content: attr(data-label-on);
    transform: translate3d(118px, 0, 0);
}

/* Post */

.container_post {
    margin: 0 48px;
    min-width: 800px;
    padding-bottom: 10px;
    border-radius: 20px;
    background-color: #F9EFF0;
}

.row_message {
    display: flex;
    margin-bottom: 12px;
    font-family: 'Poiret One', cursive;
}

.message {
    margin: 20px 60px 0 24px;
    font-weight: 600;
    font-size: 20px;
}

.column_date_time {
    padding: 20px 24px;
    color: #A32821;
    margin-left: auto;
    font-weight: 600;
}

.img_container{
    margin-left: 24px;
}

.img_container img{
    border-radius: 20px;
    padding-right: 5px;
    margin-bottom: 10px;
    height: 200px;
}

.column_post img {
    border-radius: 20px;
    padding-right: 5px;
    margin-bottom: 10px;
    height: 200px;
}

/* Navigation */

.navigation {
    margin-right: 48px;

}

.circle {
    width: 140px;
    height: 140px;
    cursor:pointer;
    background-color: #F9EFF0;
    border-radius: 50%;
    margin-bottom: 24px;
}

.circle_post {
    margin: 25px;
}

.circle_video {
    margin: 30px;
}

/* Comments */

.open_all {
    margin-top: 27px;
    margin-left: 144px;
    margin-bottom: 6px;
    color: #F9EFF0;
}

.container_comment {
    margin-left: 121px;
    margin-right: 48px;
    margin-bottom: 76px;
    min-width: 704px;
    padding-bottom: 10px;
    padding-top: 13px;
    border-radius: 20px;
    background-color: #F9EFF0;
}

.comment {
    position: relative;
    font-weight: 600;
    display: inline-block;
    margin: 8px 28px;

}

.row_nick_date {
    display: flex;
}

.nick {
    color: #A32821;
    font-size: 20px;
}

.comment_text {
    display: block;
    width: 100%;
    font-size: 20px;
    margin-right: 10px;
    white-space: normal;
    word-wrap: break-word;
}

.column_date_time_comment {
    font-family: 'Poiret One', cursive;
    font-size: 12px;
    color: #A32821;
    margin-left: auto;
    padding-left: 14px;
}


.areaBroad {
    color: #FFFFFF;
    resize: none;
    outline: none;
    margin-left: 28px;
    margin-right: 28px;
    margin-top: 16px;
    font-weight: 600;
    padding: 6px 12px 6px 10px;
    font-size: 16px;
    width: 600px;
    background: #67515E;
    border-radius: 10px;
}

.areaBroad::placeholder {
    color: #FFFFFF;
    opacity: 0.5;
}

.areaBroad::-webkit-scrollbar {
    width: 10px;

    background-color: #67515E;
    border-radius: 20px;
}

.areaBroad::-webkit-scrollbar-thumb {
    border-radius: 10px;
    padding: 10px;
    background-color: #ffe9ec;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.send {
    display: block;
    color: #F9EFF0;
    border-radius: 8px;
    padding: 5px 10px;
    width: 54px;
    cursor:pointer;
    background-color: #67515E;
    font-weight: 600;
    margin-left: 575px;
    margin-top: 8px;
}

.container_post_write {
    display: none;
    margin-right: 46px;
    margin-left: 50px;
    min-width: 940px;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: auto;
    padding-top: 1px;
    border-radius: 20px;
    background-color: #F9EFF0;
}

.message_write_area {
    color: #000000;
    resize: none;
    outline: none;
    margin: 20px 60px 0 24px;
    font-weight: 600;
    font-size: 20px;

    width: 900px;
    background: #F9EFF0;
}

.message_write_area::placeholder {
    color: #000000;
}

.message_write_area::-webkit-scrollbar {
    width: 10px;

    background-color: #67515E;
    border-radius: 20px;
}

.post_img {
    cursor: pointer;
}

.message_write_area::-webkit-scrollbar-thumb {
    border-radius: 10px;
    padding: 10px;
    background-color: #ffe9ec;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.row_send_photo {
    display: flex;
    flex-direction: row;
    margin: 10px 34px;
}

.public {
    display: block;
    color: #F9EFF0;
    border-radius: 8px;
    padding: 5px 10px;
    width: 120px;
    cursor:pointer;
    background-color: #67515E;
    font-weight: 600;
    margin-left: auto;
    margin-top: 8px;
}

.btn_input_img {
    display: block;
    color: #F9EFF0;
    border-radius: 8px;
    padding: 3px 0 2px 17px;
    width: 140px;
    cursor:pointer;
    background-color: #67515E;
    font-weight: 600;
    margin-right: auto;
    margin-top: 8px;
}

.input-file span {
    display: block;
    color: #F9EFF0;
    border-radius: 8px;
    padding: 4px 0 2px 17px;
    width: 140px;
    cursor:pointer;
    background-color: #67515E;
    font-weight: 600;
    margin-right: auto;
    height: 30px;
    margin-top: 8px;
}
.input-file input[type=file] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

/* Disabled */
.input-file input[type=file]:disabled + span {
    background-color: #eee;
}

.img_container_write {
    margin-left: 24px;
}

.img_container_write img{
    border-radius: 20px;
    padding-right: 5px;
    margin-bottom: 10px;
    height: 200px;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fcf;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}