@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

body {
    position: relative;
    min-height: 100vh;
    min-width: 100vh;
    background-color: #67515E;
    font-family: 'Poiret One', cursive;

}

.video {
    min-width: 100%;
    min-height: 100%;
}


.contain {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0px 33px;
}

.container_logo {
    margin-top: 36px;
}

.container_message_reactions {
    display: flex;
    flex-direction: row;
    margin-top: auto;
}

.container_message {
    min-width: 563px;
    margin-bottom: 28px;
}

.close {
    margin-left: 20px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 22px;
    color: #F9EFF0;
}

.container_messages_stream {
    display: flex;
    flex-direction: column;
    width: 563px;
    height: 432px;
    background-color: rgba(249, 239, 240, 0.2);;
    border-radius: 20px;
    margin-bottom: 14px;
    overflow-y: scroll;
}

.container_messages_stream_anim_close{
    animation: 2s close-anim forwards;
}

.container_messages_stream_anim_open{
    animation: 2s open-anim forwards;
}

.container_messages_stream::-webkit-scrollbar {
    width: 0;
}

.comment {
    font-weight: 600;
    display: inline-block;
    max-width: 463px;

    padding-right: 10px;
    margin: 20px 0 10px auto;
}

.comment_chet {
    font-weight: 600;
    display: inline-block;
    max-width: 463px;

    padding-right: 10px;
    margin: 20px auto 10px 20px;
}

.nick_comment {
    display: flex;
}

.nick {
    color: #A32821;
    font-size: 20px;
}

.comment_text {
    font-size: 20px;
}

.column_date_time_comment {
    font-family: 'Poiret One', cursive;
    font-size: 12px;
    color: #A32821;
    margin-left: auto;
    padding-left: 14px;
}

textarea {
    color: black;
    opacity: 0.7;
    resize: none;
    outline: none;
    font-weight: 400;
    width: 563px;
    height: 50px;
    font-size: 32px;
    padding: 6px 12px 6px 12px;
    background: #F9EFF0;
    border-radius: 20px;
}

textarea::placeholder {
    color: rgba(0, 0, 0, 0.5);;
    opacity: 0.5;
}

textarea::-webkit-scrollbar {
    width: 10px;

    background-color: #67515E;
    border-radius: 20px;
}

textarea::-webkit-scrollbar-thumb {
    border-radius: 10px;
    padding: 10px;
    background-color: #ffe9ec;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.container_anim_reactions {
    margin-left: auto;
    margin-top: auto;
}

.anim_reactions {
    display: flex;
}

.container_reactions {
    display: flex;
    flex-direction: row;
    opacity: 0.7;
    column-gap: 25px;
    background: #F9EFF0;
    border-radius: 20px;
    min-width: 320px;
    width: 320px;
    height: 69px;
    margin-bottom: 28px;
    margin-left: auto;
    margin-top: auto;
    padding: 11px 30px 12px 31px;
}

.container_reactions img{
    cursor: pointer;
    height: 46px;
    width: 46px;
}

.reaction_img_1 {
    cursor: pointer;
    display: flex;
    animation-duration: 2s;
    height: 0;
    width: 0;
    margin-left: 31px;
    margin-top: auto;
    margin-right: auto;
}


.reaction_img_2 {
    z-index: 2;
    cursor: pointer;
    animation-duration: 2s;
    height: 0;
    width: 0;
    margin-top: auto;
    margin-right: auto;
}

.reaction_img_3 {
    cursor: pointer;
    animation-duration: 2s;
    height: 0;
    width: 0;
    margin-top: auto;
    margin-right: auto;
}

.reaction_img_4 {
    cursor: pointer;
    animation-duration: 2s;
    height: 0;
    width: 0;
    margin-top: auto;
    margin-right: auto;
}

.reaction_img_1_anim{
    animation: 2s reaction-anim_1 forwards;
}

.reaction_img_2_anim{
    animation: 2s reaction-anim_2 forwards;
}

.reaction_img_3_anim{
    animation: 2s reaction-anim_3 forwards;
}

.reaction_img_4_anim{
    animation: 2s reaction-anim_4 forwards;
}

@keyframes reaction-anim_1 {
    0% {
        height: 30px;
        width: 30px;
        margin-left: 15%;
    }

    10%{
        margin-left: 18%;
    }

    20% {
        opacity: 0.6;
        margin-left: 16%;
    }
    40% {
        opacity: 1;
        margin-left: 17%;
    }
    50%{
        margin-left: 16%;
    }
    60% {
        opacity: 0.4;
    }
    80%{
        opacity: 1;
    }
    100% {
        margin-left: 16%;
        height: 100px;
        width: 100px;
        margin-bottom: calc(100% - 20px);
        opacity: 0;
    }
}

@keyframes reaction-anim_2 {
    0% {
        height: 30px;
        width: 30px;
        margin-left: 10px;
    }

    20% {
        opacity: 0.6;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 0.4;
    }
    80%{
        opacity: 1;
    }
    100% {
        height: 100px;
        width: 100px;
        margin-left: 20px;
        margin-bottom: calc(100% - 20px);
        opacity: 0;
    }
}

@keyframes reaction-anim_3 {
    0% {
        height: 30px;
        width: 30px;
    }

    20% {
        opacity: 0.6;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 0.4;
    }
    80%{
        opacity: 1;
    }
    100% {
        height: 80px;
        width: 80px;
        margin-bottom: calc(100% - 20px);
        opacity: 0;
    }
}

@keyframes reaction-anim_4 {
    0% {
        height: 30px;
        width: 30px;
        margin-right: 13%;
    }

    20% {
        opacity: 0.6;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 0.4;
    }
    80%{
        opacity: 1;
    }
    100% {
        height: 80px;
        width: 80px;
        margin-right: 30%;
        margin-bottom: calc(100% - 20px);
        opacity: 0;
    }
}

@keyframes close-anim {
    0%{
        height: 432px;
    } 100% {
              height: 0;
          }
}

@keyframes open-anim {
    0%{
        height: 0;
    } 100% {
          height: 432px;
      }
}